* {
  font-family: sans-serif;
}
:root{
  --th: white;
  --dt: #505050;
  --bg: #202020;
}
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  background: var(--bg);
  color: var(--th);
}
section {
  margin: 0;
  color: var(--th);
  background: #202020;
}

h1{
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p{
  font-size: 1rem;
}

section#hero {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section#hero div.h-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--th);
  padding: 5vw;
  border-radius: 10vw;
}
button {
  width: max-content; 
}
button.fill {
  border: none;
  background: var(--th);
  color: #202020;
  padding: 10px;
  transition: 300ms ease-in-out;
}
button.fill:hover {
  background: #505050;
  color: var(--th);
}
a.b-p {
  text-decoration: none;
}
div.ugc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2vw;
}
div.p-c {
  width: min(50vw,20rem);
  margin: 2vh 0;
  background: var(--dt);
  border-radius: calc(min(50vw,20rem)/20);
  padding: min(5vw,1rem);
  position: relative;
}
div.p-c img {
  width: 90%;
  border-radius: inherit;
}
div.hov {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: var(--bg);
  transition: 200ms ease-in-out;
}
div.hov:hover {
  opacity: 80%;
  border: inherit;
}